*, *::before, *::after {
    box-sizing: border-box;
}

.hide {
    display: none;
}

#game {
    width: 60%;
    padding: 60px 0;
    margin: 0 auto;
    text-align: center;
}

#category {
    font-size: 30px;
    margin: 10px 0;
}

#question {
    font-size: 30px;
    display: block;
    margin: 10px 0;
    color: #1F0812;
}

#container {
    padding: 10px;
    background-color: seashell;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    font-size: 25px;
    color: #1F0812;
    background-color: #FC7A57;
    border: 1px solid #1F0812;
    border-radius: 50px;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.start-btn, .next-btn {
    width: 40%;
}
.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}
