/* game page stylings */

body {
    color: #FCC8C2;
}

.answer-container {
    display: flex;
    border-radius: 4px;
    background: linear-gradient(90deg, #FF87AB 0%, rgb(0, 102, 255) 100%);
    font-size: 3rem;
    width: 100%;
    min-width: 80rem;
    margin-bottom: 0.8rem;
}

.answer-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(8, 114, 244);
}

.answer-text {
    padding: 2rem;
    width: 100%;
}

.answer-prefix {
    padding: 2rem 2.5rem;
    color: #FCC8C2;
}

#game-header {
    display: flex;
    justify-content: space-between;
}

.progress-prefix {
    text-align: center;
    font-size: 2rem;
}

.header-text {
    text-align: center;
}

#progress-bar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #9CEC5B;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progress-bar-full {
    height: 100%;
    background: #9CEC5B;
    width: 0%;
}

.correct {
    background: #5FAD41;
}

.incorrect {
    background: #A4161A;
}