/* media queries for large tablets and small laptops */
@media (max-width: 1024px) {

    /* home page */
    h1 {
        font-size: 100px;
    }

    #how-to > p {
        font-size: 50px;
    }

    #how-to > ol {
        font-size: 40px;
    }

    .btn {
        font-size: 50px;
        width: 500px;
    }

    /* game page */
    #question, #score {
        font-size: 60px;
    }

    #header-text, .progress-prefix, .answer-prefix, .answer-text {
        font-size: 30px;
    }

    /* score page */
    #final-score {
        font-size: 70px;
    }

    #end-message {
        font-size: 50px;
    }

    .end-img {
        background-size: auto;
    }

}