/* media query for large tablets and small laptops */
@media (max-width: 1024px) {

    /* home page */
    h1 {
        font-size: 100px;
    }

    #how-to > p {
        font-size: 50px;
    }

    #how-to > ol {
        font-size: 40px;
    }

    .btn {
        font-size: 50px;
        width: 500px;
    }

    /* game page */
    #question, #score {
        font-size: 60px;
    }

    #header-text, .progress-prefix, .answer-prefix, .answer-text {
        font-size: 30px;
    }

    /* score page */
    #final-score {
        font-size: 70px;
    }

    #end-message {
        font-size: 50px;
    }

    .end-img {
        background-size: contain;
        margin: 20px 0;
    }

}

/* media queries for tablets */
@media (max-width: 768px) {
    
    /* home page */
    h1 {
        font-size: 80px;
    }

    #how-to > p {
        font-size: 40px;
    }

    #how-to > ol {
        font-size: 30px;
        width: 80%;
    }

    .btn {
        font-size: 40px;
    }

    /* game page */
    #game {
        width: 90%;
    }

    .answer-container {
        min-width: 50px;
    }

    #question, #score {
        font-size: 45px;
    }

    #header-text, .progress-prefix, .answer-prefix, .answer-text {
        font-size: 25px;
    }

    /* score page */
    #final-score {
        font-size: 60px;
    }

    .end-img {
        background-size: contain;
    }
}

@media (max-width: 630px) {

    /* home page */
    h1 {
        font-size: 80px;
    }

    #how-to > p {
        font-size: 40px;
    }

    #how-to > ol {
        font-size: 30px;
    }

    .btn {
        font-size: 40px;
    }
}

@media (max-width: 504px) {
    
    /* home page */
    h1 {
        font-size: 60px;
    }

    #how-to > p {
        font-size: 30px;
    }

    #how-to > ol {
        font-size: 20px;
    }

    .btn {
        font-size: 30px;
        width: 85%;
    }

    /* game page */

    #question, #score {
        font-size: 30px;
    }

    #header-text, .progress-prefix, .answer-prefix, .answer-text {
        font-size: 20px;
    }

    /* score page */
    #final-score {
        font-size: 40px;
    }

    #end-message {
        font-size: 30px;
    }

    .end-img {
        background-size: contain;
    }
}