/* media query for large tablets and small laptops */
@media (max-width: 1024px) {

    /* home page */
    h1 {
        font-size: 100px;
    }

    #how-to > p {
        font-size: 50px;
    }

    #how-to > ol {
        font-size: 40px;
    }

    .btn {
        font-size: 50px;
        width: 500px;
    }

    footer {
        margin-bottom: -200px;
    }

    .credit {
        font-size: 18px;
        bottom: -180px;
        margin-left: -131px;
    }

    /* game page */
    #question, #score {
        font-size: 60px;
    }

    #header-text, .progress-prefix, .answer-prefix, .answer-text {
        font-size: 30px;
    }

    /* score page */
    #final-score {
        font-size: 70px;
    }

    #end-message {
        font-size: 50px;
    }

    .end-img {
        background-size: contain;
        margin: 20px 0;
    }

}

/* media queries for tablets */
@media (max-width: 768px) {
    
    .column {
        display: block;
        text-align: left;
        width: calc(100% - 20px);
        margin: 0 auto;
    }

    #title {
    margin-bottom: 0;
    color: #FF87AB;
    text-align: center;
    margin: 0 -20px;
    font-size: 45px;
    }

    .container {
    text-align: center;
    }

    #how-to {
    margin: 1rem 0;
    text-align: center;
    }

    /* home page */
    #how-to > ol {
    width: 80%;
    margin: 5px auto;
    font-size: 24px;
    text-align: left;
    }

    #how-to > ol li {
    width: 100%;
    padding: 5px;
    }

    #how-to > p {
    font-size: 30px;
    }

    .btn {
    width: calc(100% - 20px);
    DISPLAY: block;
    margin: 4px;
    font-size: 24px;
    padding: 1.5rem 0;
    }

    .credit {
        left: 5%;
    }

    /* game page */
    #game {
        width: 90%;
    }

    .answer-container {
        min-width: 50px;
    }

    #question, #score {
        font-size: 45px;
    }

    #header-text, .progress-prefix, .answer-prefix, .answer-text {
        font-size: 25px;
    }

    /* score page */
    #final-score {
        font-size: 60px;
        text-align: center;
    }

    .end-img {
        background-size: contain;
        width: auto;
        transform: scale(0.8);
    }

    .play-again-btn {
        width: auto;
    }
}

@media (max-width: 630px) {

    /* home page */
    #title {
        font-size: 80px;
    }

    #how-to > p {
        font-size: 40px;
    }

    #how-to > ol {
        font-size: 30px;
    }

    .btn {
        font-size: 40px;
    }
}

@media (max-width: 504px) {
    
    /* home page */
    #title {
        font-size: 45px;
    }

    #how-to > p {
        font-size: 30px;
    }

    #how-to > ol {
        font-size: 20px;
    }

    .btn {
        font-size: 30px;
    }

    /* game page */

    #question, #score {
        font-size: 30px;
    }

    #header-text, .progress-prefix, .answer-prefix, .answer-text {
        font-size: 20px;
    }

    /* score page */
    #final-score {
        font-size: 35px;
    }

    #end-message {
        font-size: 30px;
    }

    .end-img {
        background-size: contain;
    }
}

/* large mobile devices */
@media (max-width: 414px) {
    
    /* home page */
    #title {
        font-size: 40px;
    }

    #how-to > p {
        font-size: 25px;
    }

    #how-to > ol {
        font-size: 25px;
    }

    .btn {
        font-size: 25px;
    }

    /* score page */
    #final-score {
        font-size: 30px;
    }

    #end-message {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .end-img {
        background-size: cover;
        transform: scale(0.8);
        margin: 0;
    }
}