@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Montserrat&display=swap');

/* general styling */

html {
    scroll-behavior: smooth;
}

* {
    font-size: 62.5%;
    font-family: Righteous, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 6, 94);
}

h1 {
    font-size: 5.1rem;
    margin-bottom: 0;
    color: #FF87AB;
}

h2 {
    margin-bottom: 4rem;
    font-size: 4.2rem;
    color: #FF87AB;
    text-align: center;
}

.game-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    max-width: 80rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.centralize-flex {
    justify-content: center;
    align-items: center;
}

.centralize {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

#how-to {
    margin: 3rem 0;
}

#how-to > p, #how-to > ol {
    color: #FCC8C2;
    font-size: 2.4rem;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    margin-bottom: 1rem;
    width: 30rem;
    text-align: center;
    text-decoration: none;
    color: #FCC8C2;
    background: linear-gradient(90deg, #FF87AB 0%, rgb(0, 102, 255) 100%);
    border-radius: 4px;
}

.btn:hover {
    transition: transform 150ms;
    transform: scale(1.04);
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 rgb(8, 114, 244);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: url('/assets/images/popcorn.png');
    z-index: -1;
}

/* score page */

.end-img {
    height: 350px;
    width: 350px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

#high-score {
    background-image: url('../images/high-score.jpeg');
    object-fit: contain;
}

#medium-score {
    background-image: url('../images/medium-score.jpeg');
}

#low-score {
    background-image: url('../images/low-score.jpeg');
}