@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Montserrat&display=swap');

/* general styling */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

